@import '../../index.css';

.modal-1,
.modal-2,
.modal-3,
.modal-4{
    position: fixed;
    z-index: 10;
    top: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.726);
    display: none;
    justify-content: center;
    align-items: center;
    animation: slideleft 1s forwards;
}
.modal-2,
.modal-3, 
.modal-4{
    height: max-content;
}
.modal-1.is-open,
.modal-2.is-open,
.modal-3.is-open,
.modal-4.is-open {
    display: flex;
}

.modal-container {
    height: 98%;
    position: relative;
    padding: 1.5rem;
    max-width: 600px;
    border-radius: 20px;
    background-color: var(--white-color);
    animation: slideleft 1s forwards;
    font-family: var(--p-font);
}

.modal-title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.modal-title {
    font-family: var(--title-font);
    font-size: 1.5rem;
}

.modal-close-btn {
    position: absolute;
    right: 25px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.modal-close-btn:hover {
    background-color: rgb(247, 163, 163);
}

.modal-text {
    margin-top: 2%;
    text-align: center;
    font-size: 1.5rem;
}