.options-container {
  display: flex;
  flex-wrap: wrap;
}

.option-button {
  background-color: #0b9138b9;
  margin: 2px;
  border-radius: 25px;
  padding: 8px;
  text-align: center;
  font-family: var(--p-font);
  font-size: .9rem;
}