.questions.container-block {
    flex-direction: row-reverse;
    overflow: hidden;
}
.question {
    margin: auto;
    font-size: 1.2rem;
    cursor: pointer;
}
.questions-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.toggle-icon{
    display: flex;
    margin-right: 1%;
}
.question-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.answer {
    text-align: center;
    height: 0;
    opacity: 0;
    margin: auto;
    overflow: hidden;
    transition: all .5s ease;
    font-weight: 100;
    width: 90%;
    font-size: 1rem;
    font-weight: 600
}
.show-answer {
    display: block;
    transition: all .5s ease;
    margin: auto;
    height: 100%;
    opacity: 1;
    padding-top: 2%;
    font-size: 1rem;
    font-weight: 600
}
/* Estilos para tablet */
@media (max-width: 768px) {
    .questions.container-block {
        flex-direction: column;
    }

    .questions-list {
        align-items: center;
    }

    .toggle-icon {
        margin-right: 0;
        margin-bottom: 1%;
    }
    .question {
        font-size: 1rem;
    }
    .answer .show-answer{
        font-size: 0.9rem;
    }
}

/* Estilos para teléfono móvil */
@media (max-width: 480px) {
    .questions.container-block {
        flex-direction: column;
    }

    .questions-list {
        align-items: center;
        font-size: 0.5rem;
    }

    .toggle-icon {
        margin-right: 0;
        margin-bottom: 1%;
    }

    .answer {
        font-size: 0.9rem;
    }

    .show-answer {
        font-size: 0.9rem;
    }
}