.restore-pass-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.restore-pass-title {
    font-weight: 600;
    margin-bottom: 2rem;
}

.restore-pass-form {
    width: 100%;
}

.restore-pass.grupoInput {
    width: 80%;
    margin: auto;
}

.restore-btn-container {
    width: 100%;
    margin: 2rem auto;
    text-align: center;
}

.restore-pass-btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 30px;
    margin: auto;
    background-color: var(--main-bg-color);
    color: var(--white-color);
    cursor: pointer;
}

div>label[for='email']+input[type="text"] {
    line-height: 6vh
}

.success-message {
    font-size: 1.2rem;
    color: rgb(30, 150, 30);
}

.error-message {
    font-size: 1.2rem;
    color: red;
}

.restored-pass-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-family: var(--p-font);
    background-color: var(--white-color);
    margin: 3rem auto;
    border-radius: 50px;
    padding: 3rem;
}

.first-pass-container,
.second-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.restored-pass-btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 30px;
    margin: auto;
    background-color: var(--main-bg-color);
    color: var(--white-color);
    cursor: pointer;
}

.password-info-title {
    margin-bottom: .5rem;
}

.not-equal-input>input {
    border: 2px solid red;
}

.allow-input>input {
    border: 2px solid green;
}

.not-equal-p {
    color: red;
}

.allow-p {
    color: green;
}

.second-pass-container,
.first-pass-container {
    position: relative;
}
.show-pass-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-170px, 12px);
}