.checkbox-label{
    text-align: start;
    font-size: 16px;
    margin-top: 10px;
    opacity: 0.7;
}
.checkbox-label:hover{
    opacity: 0.9;
    cursor: pointer;
}
.checkbox {
    margin-right: 5px;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
}
.checkbox:checked {
    background-color: var(--main-bg-color);
    border: 1px solid var(--black-color);
    opacity: 1;
}