@import '../../index.css';

.register-form {
    margin: auto;
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-input {
    border-radius: .5rem;
    line-height: 4vh;
    border: 1px solid var(--black-color);
    width: 100%;
    padding-left: 15px;
    max-height: 35px;
}

.register-form-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn-form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.btn-register-form {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 30px;
    margin: auto;
    background-color: var(--main-bg-color);
    color: var(--white-color);
    cursor: pointer;
}

.radio-input-form {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.radio-input-form 
.filter-box {
    margin: 3px;
}

.radio-input-form 
.filter-box 
.filter-title {
    font-size: 1rem;
    font-weight: 600;
}

.error {
    border: 2px solid red;
}

.password-info-list {
    margin: 1rem auto;

}

.password-info-item {
    list-style: circle !important;
}

.checkbox-input-form {
    display: flex;
    margin: .5rem auto;
    flex-direction: column;
}

.pass-div {
    position: relative;
}

.button-pass-register {
    position: absolute;
    right: 10px;
    bottom: 60%;
    transform: translateY(-50%);
}

.terms-conditions {
    text-decoration: underline;
    color: blue;
    text-transform: italic;
    opacity: 1;
}

.register-message {
    margin: auto 50px
}
.register-error-message {
    color: red;
}

.adopt-greetin {
    margin: 2rem auto;
}