.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 25%;
    background-color: var(--white-color);
    position: fixed;
    z-index: 3;
    right: 0;
    font-family: var(--p-font);
    margin: 10px;
    border-radius: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.login-title {
    width: 100%;
    margin: 4rem auto;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
}

.login-form {
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.pass-group {
    display: flex;
    width: 100%;
}

.login-button {
    border-radius: 10px;
    height: 10%;
    width: 90%;
    background-color: var(--main-bg-color);
    text-align: center;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 500;
    margin-top: 2rem;
}

.a-register {
    text-decoration: underline;
    margin-left: .5rem;
}

.a-forgot-pass {
    text-decoration: underline;
    margin-top: 1rem;
}

.none {
    display: none;
}

.email-input-login,
.password-input-login {
    height: 3rem;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.password-input-login {
    margin-bottom: 3rem;
    position: relative;
}

.email-login-label,
.password-login-label {
    margin-bottom: .5rem;
    margin-right: auto;
    font-weight: 600;
    opacity: .7;
}

.button-pass {
    position: absolute;
    right: 50px;
    top: 50%;
}

.status-text {
    color: red;
}

.btn-close-login {
    position: absolute;
    right: 25px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    transform: translateY(100%);
}