nav {
	position: sticky;
	top: 0;
	z-index: 4;
}

.logo-div {
	width: 5%;
	margin: auto;
}

.logo-link {
	display: block;
	margin: 3% auto;
	width: 100%;
	background-color: var(--white-color);
	border-radius: 50%;
	padding: 5px;
}

.main-nav {
	display: flex;
	justify-content: space-around;
	height: 15%;
	min-height: 70px;
	height: max-content;
	width: 100%;
	background: linear-gradient(190deg, rgb(81, 90, 81), rgb(51, 42, 42));
}

.nav-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
}

.link-item a {
	color: var(--white-color);
	font-size: 1.1rem;
	opacity: 0.8;
	font-family: var(--p-font);
}

.link-item a:hover {
	opacity: 1;
	scale: 1.1;
	transition: .4s ease all;
}

/*
.link-item>a::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 0;
	height: 3px;
	background-color: var(--white-color);
	transition: width 0.5s ease;
}
*/
.link-item>a:hover::after {
	width: 100%;
}

.button-menu {
	display: none;
}

.nav-links li {
	position: relative;
	display: flex;
	align-items: center;
}

.nav-icons {
	display: none;
}

.user-login-button {
	margin: auto;
	height: 50%;
	font-family: var(--p-font);
	color: var(--white-color);
	border: .5px solid var(--white-color);
	padding: 5px 10px;
	border-radius: 5px;
}

.btn-profile {
	height: 4rem;
	width: 4rem;
	border-radius: 50px;
	background-color: azure;
	color: gray;
	padding: 0 1rem;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2rem;
	text-align: center;
}

@media (max-width: 768px) {
	.header {
		height: 20vh;
	}
}